/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  overflow-x: hidden;
  line-height: 1;
  font-family: 'IBM Plex Mono', monospace;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1340px;
}

.base-text {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
}

.section-title {
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.522727px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #4E4E4E;
}

.header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  font-size: 16px;
  line-height: 21px;
  color: #F4F4F4;
  margin-right: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: 0.2s all ease-out;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.main {
  background-image: url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main__inner {
  padding: 110px 0 190px;
}
.main__inner-row {
  align-items: center;
}
.main__inner-title {
  font-size: 35px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.87);
  max-width: 445px;
  margin-bottom: 60px;
}
.main__inner-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.main__inner-item:last-child {
  margin-bottom: 0;
}
.main__inner-item__text {
  font-size: 21px;
  line-height: 27px;
  color: #E2E2E2;
  margin-left: 60px;
}

.info {
  padding: 60px 0 40px;
}

.info-row {
  align-items: center;
}

.info-text {
  margin: 25px 0;
}

.info-img {
  height: unset;
}

.about__security {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.about__security-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 1.3px;
  color: #4E4E4E;
  margin-top: 25px;
}
.about__security-subtitle {
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.882143px;
  margin-top: 15px;
}

.about-wrapper {
  background-color: #f9f9f9;
  padding: 120px 100px;
}

.about-inner__wrapper {
  max-width: 500px;
}
.about-inner__wrapper-notitle {
  margin-bottom: 80px;
}
.about-inner__wrapper-text {
  margin-top: 20px;
}
.about-inner__wrapper-title {
  font-weight: 500;
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  color: #4E4E4E;
}

.size {
  padding: 60px 0 40px;
}

.size-img {
  display: block;
  margin: 0 auto;
}

.shop {
  background-color: #fafafa;
  padding: 100px 0 25px;
}
.shop__item {
  position: relative;
  width: 75%;
  margin: 0 auto 75px;
  box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.179151);
  border-radius: 5px;
}
.shop__item:hover .shop__item-info {
  opacity: 1;
}
.shop__item:hover .shop__item-footer__name {
  opacity: 0;
}
.shop__item-header {
  width: 100%;
  height: 170px;
}
.shop__item-header__img {
  border-radius: 5px 5px  0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shop__item-footer {
  border-radius: 0px 0px 5px 5px;
  padding: 20px;
  background-color: #FBFBFB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop__item-footer__name {
  font-size: 20px;
  line-height: 26px;
  opacity: 1;
  transition: 0.2s all ease-out;
}
.shop__item-footer__price {
  font-size: 17px;
  line-height: 22px;
  color: #D40828;
}
.shop__item-info {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.523755);
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 17px;
  color: #fff;
  transition: 0.2s all ease-out;
}
.shop__item-info__name {
  font-size: 20px;
  line-height: 26px;
  color: #F7F7F7;
}
.shop__item-info__text {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  max-width: 250px;
  font-size: 14px;
  line-height: 18px;
  color: #F8F8F8;
}
.shop__item-info__link {
  color: #fff;
  text-decoration: underline;
}
.shop__item-info__link:hover {
  color: #D40828;
}
.shop__item-info__btn {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #F8F8F8;
  display: inline;
  width: 150px;
  text-align: center;
  padding: 8px 0;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  background-color: transparent;
  transition: 0.2s all ease-out;
}
.shop__item-info__btn:hover {
  background-color: #fff;
  color: #4E4E4E;
}

.compare {
  padding: 60px 0;
}
.compare-table {
  text-align: center;
  width: 100%;
}
.compare-tr {
  vertical-align: middle;
}
.compare-th {
  vertical-align: middle;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  width: 20%;
  padding: 30px;
}
.compare-td {
  vertical-align: middle;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  width: 20%;
  border-left: 2px solid #D40828;
  padding: 25px 15px;
  font-size: 21px;
  line-height: 29px;
}
.compare-td:first-child {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  border-left: none;
}

@media (max-width: 1440px) {
  .base-text {
    font-size: 14px;
    line-height: 18px;
  }

  .main__inner {
    padding: 45px 0 110px;
  }
  .main__inner-title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 55px;
  }
  .main__inner-item {
    margin-bottom: 30px;
  }

  .section-title {
    margin-bottom: 40px;
  }

  .info-text {
    margin: 20px auto;
    max-width: 90%;
  }

  .about-wrapper {
    padding: 80px 60px;
  }

  .about__security-title {
    font-size: 24px;
    line-height: 32px;
  }

  .about-inner__wrapper-title {
    font-size: 19px;
    line-height: 25px;
  }

  .size-img {
    max-width: 700px;
  }

  .shop {
    padding: 60px 0;
  }
}
@media (max-width: 1200px) {
  .main__inner-img {
    max-width: 80%;
  }

  .nav__item {
    display: none;
  }

  .main__inner-title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 40px;
  }

  .main__inner-item__text {
    font-size: 18px;
    line-height: 24px;
    margin-left: 40px;
  }

  .section-title {
    margin-bottom: 30px;
  }

  .info, .size {
    padding: 40px 0 40px;
  }

  .about-wrapper {
    padding: 55px 50px;
  }

  .size-img {
    max-width: 600px;
  }

  .compare-th {
    font-size: 17px;
    line-height: 23px;
  }
  .compare-td {
    padding: 12px 16px;
    font-size: 16px;
    line-height: 20px;
  }
  .compare-td:first-child {
    font-size: 17px;
    line-height: 23px;
  }
}
@media (max-width: 991px) {
  .main__inner {
    padding: 20px 0 65px;
  }
  .main__inner-img {
    max-width: 90%;
  }
  .main__inner-title {
    font-size: 22px;
    line-height: 32px;
  }
  .main__inner-item__text {
    font-size: 16px;
    line-height: 22px;
    margin-left: 22px;
  }

  .section-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .info__col-img {
    order: -1;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .about-inner__wrapper {
    margin: 30px auto 0;
  }

  .about-inner__wrapper-text {
    text-align: center;
  }

  .about-inner__wrapper-notitle .about-inner__wrapper-text {
    margin-top: 0;
  }

  .shop {
    padding: 60px 0 10px;
  }
  .shop__item {
    width: 85%;
    margin: 0 auto 50px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-bottom: 0;
  }

  .main__inner-img {
    max-width: 45%;
    margin: 0 auto;
  }

  .main__inner-col__img {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .size-img {
    max-width: 500px;
  }

  .main__inner-title {
    text-align: center;
    margin: 20px auto 30px;
  }

  .main__inner-item {
    margin-left: auto;
    margin-right: auto;
    transform: translateX(5%);
    max-width: 265px;
  }

  .shop__item {
    width: 45%;
  }

  .compare {
    padding: 40px 0;
    overflow-x: scroll;
  }
  .compare-th {
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .compare-td {
    font-size: 14px;
    line-height: 16px;
  }
  .compare-td:first-child {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 20px 0;
  }

  .header-logo__img {
    max-width: 130px;
  }

  .main__inner-img {
    max-width: 65%;
  }

  .info, .size {
    padding: 40px 0 20px;
  }

  .about-wrapper {
    padding: 40px 30px;
  }

  .size-img {
    max-width: 300px;
  }

  .shop__item {
    width: 90%;
  }
}

/*# sourceMappingURL=main.css.map */
