/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}  

.container {
    max-width: 1300px;
}

/* ----------------- header -----------------  */


.header {
    background-image: url(../images/bg1.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 15px;
    padding-bottom: 130px;
}

.logo-img {

}

.header-call__btn {
    border: 2px solid #1EB4E3;
    border-radius: 30px;
    padding: 8px 45px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.005em;
    color: #1EB4E3;
    margin-right: 30px;
    background: transparent;
    transition: 0.2s all ease-out;
}

.header-call__btn:hover {
    border-color: #20CAFF;
    color: #20CAFF;
}

.header-call__btn:focus {
    outline: none;
    border-color: #FFB168;
    color: #FFB168;
}

.header-menu__btn {
    border: 2px solid #1EB4E3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}

.header-menu__btn-line {
    width: 17px;
    height: 1px;
    background-color: #1EB4E3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-menu__btn-line::before {
    position: absolute;
    content: "";
    width: 17px;
    height: 1px;
    background-color: #1EB4E3;
    top: 5px;
}

.header-menu__btn-line::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 1px;
    background-color: #1EB4E3;
    bottom: 5px;
}

/* ----------------- header -----------------  */


.help {
    position: relative;
    padding: 90px 0 200px;
    /* background-image: url(../images/bottom1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; */
    z-index: 1;
    overflow: hidden;
}

.row-help {
    
}

.help-col {
    z-index: 1;
}

.help-title {
    font-weight: 900;
    font-size: 55px;
    line-height: 64px;
    letter-spacing: -0.005em;
    color: #262121;
}

.help-title span {
    color: #FFB168;
}

.item-text {
    margin-top: 50px;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.005em;
    color: #262121;
}

.help-btn {
    margin-top: 60px;
    background-color: #1EB4E3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    padding: 12px 55px;
    transition: 0.2s all ease-out;
    border: none;
}

.help-btn:hover {
    background-color: #20CAFF;
    text-decoration: none;
    color: #fff;
}

.help-btn:focus {
    outline: none;
    background-color: #FFB168;
}

.help-subbtn {
    border: none;
    margin-top: 10px;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: -0.005em;
    color: #1EB4E3;
    background: transparent;
    transition: 0.2s all ease-out;
}

.help-subbtn:hover {
    text-decoration: none;
    color: #20CAFF;
}

.help-subbtn:focus {
    outline: none;
    color: #FFB168;
}

.col-absolute {
    position: absolute;
    right: -180px;
    top: 80px;
}

.help-img {
    width: 65vw;
}



/* ----------------- support -----------------  */


.support {
    position: relative;
    /* bottom: 100px; */
    /* padding: 230px 0 250px; */
    /* background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; */
}

.support-title {
    font-weight: 900;
    font-size: 55px;
    line-height: 64px;
    letter-spacing: 0.01em;
    color: #262121;
}

.support-title span {
    color: #FFB168;
}

.support-help__row {
    margin-top: 45px;
}

.support-help__item {
    display: flex;
    align-items: center;
}


#support-help__item-1 {
    width: 440px;
    position: relative;
    left: 35px;
}
#support-help__item-2 {
    width: 480px;
    position: relative;
    left: 35px;
}
#support-help__item-3 {
    width: 400px;
    position: relative;
    left: 35px;
}
#support-help__item-4 {
    width: 550px;
    position: relative;
    left: 35px;
}
#support-help__item-5 {
    width: 485px;
    position: relative;
    left: 35px;
}
#support-help__item-6 {
    width: 465px;
    position: relative;
    left: 35px;
}

.support-help__item::before {
    top: -30px;
    left: -35px;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #FFB168;
}

#support-help__item-1::before {
    position: absolute;
    content: "1";
}
#support-help__item-2::before {
    position: absolute;
    content: "2";
}
#support-help__item-3::before {
    position: absolute;
    content: "3";
}
#support-help__item-4::before {
    position: absolute;
    content: "4";
}
#support-help__item-5::before {
    position: absolute;
    content: "5";
}
#support-help__item-6::before {
    position: absolute;
    content: "6";
}

.support-help__item-img {
    width: 100px;
    margin-right: 20px;
}

.support-help__item-text {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.005em;
    color: #262121;
}

.support-help__item-text span {
    font-weight: 500;
}

.support-help .btn-row {
    margin-bottom: 130px;
}

.btn-row {
    margin-top: 60px;
    margin-bottom: 60px;
}

.btn-row .help-btn {
    margin-right: 0;
}

.support-gift__row {
    margin-top: 80px;
}

.support-gift__item {
    transition: 0.2s all ease-out;
}

.support-gift__item:hover {
    text-decoration: none;
}

.support-gift__item:hover .support-gift__item-text {
    color: #FFB168;
}

.support-gift__item-img__wrapper {
    height: 195px;
    width: 100%;
    position: relative;
}

.support-gift__item-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.support-gift__item-text__wrapper {
    background-color: #fff;
    height: 130px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}

.support-gift__item-text {
    padding: 20px 40px 0;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #262121;
    transition: 0.2s all ease-out;
}


/* ----------------- about -----------------  */


.about {
    position: relative;
    /* overflow-y: hidden; */
    /* padding-bottom: 450px; */
    /* background-image: url(../images/bottom1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; */
    z-index: 1;
}

.about-cat__img {
    position: absolute;
    top: 20px;
    z-index: -1;
    width: 18vw;
}

.about-bowl__img {
    position: absolute;
    bottom: 170px;
    right: 0;
    z-index: -1;
    width: 15vw;
}

.about .container {
    z-index: 2;
}

.about-title {
    z-index: 2;
    font-weight: 900;
    font-size: 55px;
    line-height: 64px;
    letter-spacing: 0.01em;
    color: #262121;
}

.about-row {

}

.about-info {

}

.about-info__title {
    margin-top: 75px;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.01em;
    color: #FFB168;
    font-weight: bold;
}

.about-info__text:last-child {
    font-weight: 500;
}

.about-info__text {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #262121;
    margin-top: 20px;
}

.about-team__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-team__item-img {
    max-width: 350px;
    max-height: 350px;
}

.about-team__item-title {
    margin-top: 10px;
    font-weight: 500;
    font-size: 35px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.01em;
}

.about-team__item-text {
    font-size: 25px;
    max-width: 400px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #1EB4E3;
}


/* ----------------- extra -----------------  */


.extra {
    /* padding-bottom: 90px; */
    position: relative;
    /* bottom: 220px;
    padding: 200px 0 250px; */
    /* background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; */
}

.extra-help {
    
}

.support-title {
    
}

.extra-help__row {
    margin-top: 80px;
}

.extra-help__item {
    
}

.extra-help-img__wrapper {
    height: 295px;
    width: 100%;
    position: relative;
}

.extra-help__item-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;    
}

.extra-help-text__wrapper {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    padding: 22px 22px 45px 22px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #fff;
}

.extra-help__item-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #262121;
}

.extra-help__item-text {
    /* margin-top: 15px; */
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #767676;
}

.extra-help__btn-row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.extra-help__btn-col {
    /* margin-top: 40px; */
}

.extra-help__btn {
    font-size: 25px;
    line-height: 29px;
    color: #1EB4E3;
    border: 1.5px solid #1EB4E3;
    border-radius: 30px;
    padding: 8px 50px;
    transition: 0.2s all ease-out;
}

.extra-help__btn:hover {
    text-decoration: none;
    color: #20CAFF;
    border-color: #20CAFF;
}

.extra-help__btn:focus {
    outline: none;
    border-color: #FFB168;
    color: #FFB168;
}

.extra-shelter {
    
}

.extra-shelter .support-title {
    /* margin-top: 200px; */
}

.extra-shelter__carousel {
    margin-top: 80px;
}

.extra-shelter__item {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 30px;
}

.extra-shelter__item-img__wrapper {
    height: 395px;
    width: 100%;
    position: relative;
}

.extra-shelter__item-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;   
}

.extra-shelter__item-text__wrapper {
    padding: 35px;
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;   
}

.extra-shelter__item-text__wrapper i {
    color: #1EB4E3;
    font-size: 30px;
    margin-right: 15px;
}

.extra-shelter__item-text {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #1EB4E3;
}

.extra-shelter__carousel-wrapper {
    max-width: 850px;
    margin: 0 auto;
}

.extra-shelter__carousel .owl-prev {
    position:absolute;
    top:50%;
    /* left:120px; */
    left: -60px;
    margin-top:-35px;
    color:#fff;
}
.extra-shelter__carousel .owl-next {
    position:absolute;
    top:50%;
    /* right:120px; */
    right: -60px;
    margin-top:-35px;
    color:#fff;
}

.extra-shelter__carousel .owl-prev:focus {
    outline: none;
}
.extra-shelter__carousel .owl-next:focus {
    outline: none;
}

.extra-shelter__carousel .owl-prev i {
    font-size: 50px;
    color: #1EB4E3;
}

.extra-shelter__carousel .owl-next i {
    font-size: 50px;
    color: #1EB4E3;
}

/* ----------------- adaptive -----------------  */


.homeAndReports {
    position: relative;
    /* padding-bottom: 200px; */
}

.homeAndReports .container {
    z-index: 1;
}

.home {

}

.home .support-title {
    margin-bottom: 80px;
}

.home__carousel .extra-help__item {
    padding: 0 0 45px;
}

.home-carousel__wrapper {
    max-width: 1070px;
    margin: 0 auto;
}

.home__carousel {
    margin-bottom: 100px;
}

.home__carousel .extra-help__item {
    margin: 0 20px;
}

.home__carousel .extra-help-text__wrapper {
    height: 260px;
    padding: 22px 51px 45px 50px;
}

.home__carousel .owl-prev {
    position:absolute;
    top:50%;
    /* left:120px; */
    left: -60px;
    margin-top:-35px;
    color:#fff;
}
.home__carousel .owl-next {
    position:absolute;
    top:50%;
    /* right:120px; */
    right: -60px;
    margin-top:-35px;
    color:#fff;
}

.home__carousel .owl-prev:focus {
    outline: none;
}
.home__carousel .owl-next:focus {
    outline: none;
}

.home__carousel .owl-prev i {
    font-size: 50px;
    color: #1EB4E3;
}

.home__carousel .owl-next i {
    font-size: 50px;
    color: #1EB4E3;
}


.reports {
    
}

.reports .support-title {
    margin-bottom: 55px;
}

.row-reports {
    
}

.col-md-6 {
    
}

.reports-text {
    position: relative;
    left: 35px;
    width: 550px;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #262121;
}

.reports-text::before {
    content:"";
    position: absolute;
    top: 7px;
    left: -35px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1EB4E3;
}

.reports-carousel__wrapper {
    margin-top: 60px;
}

.reports-carousel {

}

.reports-item {
    position: relative;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 40px;
}

.report-item__img {
    /* width: 100%;
    height: 100%; */
}

.reports-item__text {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 5%;
    height: 92.1%;
    width: 90%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85));
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-out;
    border-radius: 10px;
}

.reports-item:hover .reports-item__text {
    opacity: 1;
}

.reports-item__text i {
    margin-right: 10px;
}

.reports-item__text i,
.reports-item__text-link {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #1EB4E3;
    transition: 0.2s all ease-out;
}

.reports-item__text:hover .reports-item__text-link,
.reports-item__text:hover .reports-item__text-link i {
    text-decoration: none;
}

.reports-item__text-link:hover,
.reports-item__text-link:hover i {
    color: #FFB168;
}

.reports-carousel .owl-prev {
    position:absolute;
    top:50%;
    /* left:120px; */
    left: -60px;
    margin-top:-35px;
    color:#fff;
}
.reports-carousel .owl-next {
    position:absolute;
    top:50%;
    /* right:120px; */
    right: -60px;
    margin-top:-35px;
    color:#fff;
}

.reports-carousel .owl-prev:focus {
    outline: none;
}
.reports-carousel .owl-next:focus {
    outline: none;
}

.reports-carousel .owl-prev i {
    font-size: 50px;
    color: #1EB4E3;
}

.reports-carousel .owl-next i {
    font-size: 50px;
    color: #1EB4E3;
}

.dog-img {
    position: absolute;
    right: 0;
    top: -140px;
    width: 16vw;
}

.leash-img {
    position: absolute;
    left: 0;
    top: 570px;
    width: 16vw;
} 

.paws-img {
    position: absolute;
    right: 0;
    bottom: 100px;
    width: 16vw;
}




/* ----------------- adaptive -----------------  */



@media(max-width: 1440px) {
    .about-cat__img {
        display: none;
    }
    .reports-carousel__wrapper {
        width: 90%;
        margin: 60px auto 0;
    }
    .reports-text {
        width: 40vw;
    }
}

@media(max-width: 1200px) {
    .support-help__item-text {
        font-size: 22px;
        line-height: 30px;
    }
    .extra-help__item-text {
        font-size: 18px;
        line-height: 21px;
    }
    .extra-help__btn {
        font-size: 18px;
        line-height: 22px;
        padding: 7px 46px;
    }
    .home-carousel__wrapper {
        max-width: 800px;
    }
    .home__carousel .extra-help-text__wrapper {
        height: 230px;
        padding: 14px 50px 30px 50px;
    }
}

@media(max-width: 1024px) {
    .header {
        padding-bottom: 100px;
    }
    .help-title,
    .support-title {
        font-size: 42px;
        line-height: 52px;
    }
    .item-text {
        margin-top: 30px;
        font-size: 24px;
        line-height: 30px; 
    }
    .help {
        position: relative;
        padding: 20px 0 110px;
    }
    .btn-row {
        margin-top: 40px;
    }    
    .help-btn {
        margin-top: 40px;
        font-size: 24px;
    }
    .help-subbtn {
        font-size: 20px;
    }
    .col-absolute {
        top: 70px;
        right: -110px;
    }
    .support {
        /* padding: 125px 0 150px;
        bottom: 65px; */
    }
    #support-help__item-1 {
        width: 350px;
    }
    #support-help__item-2 {
        width: 363px;
    }
    #support-help__item-3 {
        width: 360px;
    }
    #support-help__item-4 {
        width: 440px;
    }
    #support-help__item-5 {
        width: 100%;
    }
    #support-help__item-6 {
        width: 370px;
    }
    .support-help__item::before {
        top: -20px;
        left: -25px;
        font-size: 24px;
        line-height: 110%;
    }
    .support-help__item-img {
        width: 80px;
    }
    .about-title {
        font-size: 50px;
        line-height: 56px;
    }
    .about-info__text {
        font-size: 18px;
        line-height: 21px;
    }
    .about-info__title {
        margin-top: 62px;
        font-size: 32px;
        line-height: 37px;
    }
    .about-team__item-img {
        max-width: 300px;
        max-height: 300px;
    }
    .about-team__item-title {
        font-size: 28px;
        line-height: 150%;
    }
    .about-team__item-text {
        font-size: 18px;
        max-width: 300px;
        line-height: 150%; 
    }
}

@media(max-width: 992px) {
    .logo-img {
        width: 350px;
    }
    .help .help-col{
        text-align: center;
    }
    .row-help-center {
        justify-content: center;
    }
    .col-help-between {
        flex-direction: row !important;
        align-items: center;
        margin-top: 40px;
    }
    .help {
        background: unset;
        padding: 0;
    }
    .btn-row {
        margin-top: 0px;
    }
    .help-btn,
    .help-subbtn {
        margin-top: 0;
    }
    .help-btn {
        margin-right: 20px;
    }
    .col-absolute {
        margin-top: 50px;
        position: static;
        top: 0;
        right: 0;
    }
    .help-img {
        width: 140vw;
        transform: translateX(-23vw);
    }
    .support {
        bottom: 0;
        background: unset;
        padding-top: 0;
        padding-bottom: 0;
    }
    .support-title {
        text-align: center;
    }
    .support-help__row .col-lg-6 {
        display: flex;
        justify-content: center;
    }
    .support-help__item {
        width: 85% !important;
    }
    .support-help__item-text {
        font-size: 20px;
        line-height: 26px;
    }
    .support .btn-row {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .support-gift {
        padding: 50px 0;
    }
    .support .col-lg-4 {
        width: 60%;
        margin: 40px auto 0;
    }
    .support-gift__item {
        /* width: 50%; */
        margin: 35px auto 0;
    }
    .support-gift__row {
        margin-top: 35px;
    }
    .support-gift__row:last-child {
        margin-top: 0;
    }
    .support .col-lg-4:first-child .support-gift__item:first-child {
        margin-top: 35px;
    }
    .about {
        background: unset;
        /* padding-bottom: 120px; */
    }
    .about .container {
        width: 85%;
    }
    .about-title {
        text-align: center;
    }
    .about-cat__img {
        display: block;
        top: -20px;
    }
    .about-info__title {
        text-align: center;
    }
    .about .btn-row {
        margin-top: 30px;
        justify-content: center;
    }
    .about-team__item {
        flex-direction: row;
        width: 100%;
        margin-top: 35px;
    }
    .about-team__item:first-child {
        margin-top: 0px;
    }
    .about-team__item-img {
        max-width: 250px;
        max-height: 250px;
        margin-right: 60px;
    }
    .about-team__item-title,
    .about-team__item-text {
        text-align: left;
    }
    .extra {
        background-image: none;
    }
    .extra-help .col-lg-6 {
        width: 70%;
        margin: 40px auto 0;
    }
    .extra-help .col-lg-6:first-child {
        margin-top: 0;
    }
    .extra-help__item-title {
        font-size: 32px;
    }
    .extra-help__item-text {
        font-size: 18px;
        line-height: 21px;
    }
    .extra-shelter .support-title {
        margin-top: 100px;
    }
    .extra-shelter__carousel {
        margin-top: 40px;
    }
    .reports-carousel__wrapper {
        width: 83%;
    }
}


@media(max-width: 768px) {
    .extra-shelter__carousel-wrapper {
        max-width: 500px;
    }
    .extra-shelter__item-img__wrapper {
        height: 290px;
    }
    .extra-shelter__item-text {
        font-size: 24px;
        line-height: 28px;
    }
    .home-carousel__wrapper {
        max-width: 500px;
    }
}

@media(max-width: 576px) {
    .header {
        /* background-image: url(../images/bg1-mob.png);
        background-size: cover; */
        padding-bottom: 50px;
        padding-top: 5px;
    }
    .logo-img {
        width: 70vw;
    }
    .header-menu__btn {
        width: 30px;
        height: 30px;
    }
    .header-call__btn {
        display: none;
    }
    .help {
        /* padding: 0px 0 110px; */
        padding: 0;
        background: unset;
    }
    .help-title, .support-title {
        font-size: 35px;
        line-height: 41px;
    }
    .item-text {
        font-size: 20px;
        line-height: 23px;
    }
    .help-btn {
        font-size: 20px;
        line-height: 23px;
        padding: 8px 40px;
    }
    .help-subbtn {
        font-size: 20px;
        line-height: 23px;
    }
    .support-help__item-img {
        width: 70px;
    }
    .support-help__row {
        margin-top: 40px;
    }
    .support .col-lg-4 {
        width: 95%;
    }
    .support-help__item {
        /* left: 0px !important; */
        margin-right: 5px;
    }
    #support-help__item-2,
    #support-help__item-4,
    #support-help__item-6 {
        margin-top: 40px;
    }
    .support-gift {
        /* padding: 150px 0; */
        /* background-image: url(../images/group-bg__mob.png);
        background-repeat: no-repeat;
        background-size: cover; */
    }
    .support-gift__item {
        width: 93%;
    }
    .support-gift__item-text__wrapper {
        height: 120px;
    }
    .support-gift__item-text {
        font-size: 22px;
        line-height: 30px;
    }
    .about {
        /* padding-bottom: 285px; */
    }
    .about-cat__img {
        top: -70px;
        width: 32vw;
    }
    .about .container {
        width: unset;
    }
    .about-title {
        font-size: 35px;
        line-height: 41px;
    }
    .about-row {
        margin: 0 auto;
    }
    .about-info__title {
        margin-top: 30px;
        font-size: 25px;
        line-height: 29px;
    }
    .about-info__text {
        font-size: 15px;
        line-height: 18px;
    }
    .about-team__item-img {
        max-width: 130px;
        max-height: 130px;
        margin-right: 30px;
    }
    .about-team__item-title {
        font-size: 18px;
        line-height: 180%;
    }
    .about-team__item-text {
        font-size: 13px;
        line-height: 180%;
    }
    .about-bowl__img {
        width: 25vw;
        bottom: 185px;
    }
    .extra {
        padding-bottom: 0;
    }
    .extra-help {
        /* padding: 150px 0; */
        /* background-image: url(../images/group-bg__mob.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative; */
        /* bottom: 200px; */
    }
    .extra-help .col-lg-6 {
        width: 95%;
    }
    .extra-help-img__wrapper {
        height: 200px;
    }
    .extra-help__item-title {
        font-size: 24px;
    }
    .extra-help-text__wrapper {
        height: 250px;
        padding: 15px 15px 30px 15px;
    }
    .extra-help__item-title {
        font-size: 20px;
        line-height: 23px;
    }
    .extra-help__item-text {
        font-size: 15px;
        line-height: 18px;
    }
    .extra-help__btn {
        font-size: 16px;
        padding: 5px 35px;
    }
    .extra-shelter {
        position: relative;
        /* bottom: 200px; */
    }
    .extra-shelter__item-img__wrapper {
        height: 150px;
    }
    .extra-shelter__item-text__wrapper {
        padding: 17px 20px;
        flex-direction: column;
    }
    .extra-shelter__item-text__wrapper i{
        margin-right: 0;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .extra-shelter__item-text {
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }
    .extra-shelter__carousel .owl-next,
    .home__carousel .owl-next {
        right: -20px;
    }
    .reports-carousel .owl-next {
        right: -25px;
    }
    .extra-shelter__carousel .owl-prev,
    .home__carousel .owl-prev {
        left: -20px;
    }
    .reports-carousel .owl-prev {
        left: -25px;
    }
    .extra-shelter__carousel .owl-next i,
    .home__carousel .owl-next i,
    .reports-carousel .owl-next i {
        font-size: 26px;
    }
    .extra-shelter__carousel .owl-prev i,
    .home__carousel .owl-prev i,
    .reports-carousel .owl-prev i {
        font-size: 26px;
    }
    .extra-shelter .support-title {
        margin-top: 50px;
    }
    .extra-shelter__carousel-wrapper {
        max-width: 90%;
    }
    .home .support-title,
    .reports .support-title {
        margin-bottom: 40px;
    }
    .home__carousel {
        margin-bottom: 20px;
    }
    .home-carousel__wrapper {
        max-width: 90%;
    }
    .home__carousel .extra-help-text__wrapper {
        height: 200px;
    }
    .reports-text {
        width: 90%;
        font-size: 15px;
        line-height: 18px;
    }
    .reports .col-md-6:last-child .reports-text {
        margin-top: 30px;
    }
    .reports-item {
        width: auto;
    }
    .report-item__img {
        max-width: 100% !important;
    }
}
 
@media(max-width: 320px) {
    .header {
        padding-bottom: 40px;
    }
    .logo-img {
        width: 65vw;
    }
    .help-title, .support-title {
        font-size: 30px;
        line-height: 38px;
    }
    .item-text {
        font-size: 18px;
        line-height: 21px; 
    }
    .col-help-between {
        margin-top: 25px;
    }
    .help-btn {
        font-size: 18px;
        line-height: 21px;
        padding: 6px 30px;
    }
    .help-subbtn {
        font-size: 16px;
        line-height: 20px;
    }
    .support-help__item-text {
        font-size: 18px;
        line-height: 24px;
    }
    .about-bowl__img {
        width: 23vw;
        bottom: 180px;
    }
}