/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    overflow-x: hidden;
    line-height: 1;
    font-family: 'Inter', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1240px;
    }
}

.general-title {
    font-size: 29px;
    line-height: 35px;
    font-weight: bold;
}

.general-text {
    font-size: 21px;
    line-height: 130%;
}


// --------- header --------- 



.header {
    padding: 70px 0;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        
    }

    &__text-inner {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    &__btn {
        margin-left: 130px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        padding: 11px 100px;
        text-decoration: none;
        border: 2px solid #1BB856;
        outline: none;
        border-radius: 10px;
        background: #1BB856;
        cursor: pointer;
        transition: 0.2s all ease-out;
        &:hover {
            background-color: #fff;
            color: #1BB856;
            text-decoration: none;
        }
    }
}



// --------- main --------- 


.main {
    padding: 40px 0;
    &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }    

    &__title {
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
    }

    &__text {
        margin-top: 10px;
        font-size: 23px;
        line-height: 28px;
    }

    &__img {
    }

    &__img-inner {
        width: 100%;
    }
}


// --------- advantages --------- 

.advantages {
    padding: 50px 0;
    &__item {
        max-width: 470px;
        margin: 0 auto;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        } 
    }

    &__item-img {
        margin-right: 25px;
    }

    &__item-text {
    }
}


// --------- message --------- 



.message {
    padding: 50px 0;
    &__title {
        margin-bottom: 40px;
    }

    &__text {
        margin-bottom: 15px;
    }

    &-img {

    }

    &-img__inner {
        width: 100%;
    }
}


// --------- consultation --------- 


.consultation {
    padding: 50px 0;
    &__title {
        text-align: center;
        margin-bottom: 80px;
    }

    &-wrapper {

    } 

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 745px;
        margin: 10px 0;
        &:nth-child(2),
        &:nth-child(4) {
            margin-left: auto;
        }
    }

    &__item-img {
        &:nth-child(1),
        &:nth-child(3) {
            margin-right: 50px;
        }
        &:nth-child(2),
        &:nth-child(4) {
            margin-left: 50px;
        }
    }

    &__btn {
        margin-top: 40px;
        display: inline-block;
        text-decoration: none;
        background: #1BB856;
        color: #fff;
        border: 2px solid #1BB856;
        padding: 23px 62px;
        font-weight: bold;
        border-radius: 20px;
        transition: 0.2s all ease-out;
        &:hover {
            background-color: #fff;
            color: #1BB856;
            text-decoration: none;
        }
    }
}


// --------- results --------- 


.results {
    padding: 50px 0 90px;
    &__title {
        text-align: center;
        margin-bottom: 20px;
    }

    &__subtitle {
        text-align: center;
        margin-bottom: 50px;
        font-size: 23px;
        line-height: 28px;
    }

    &-wrapper {
    }
    
    &__img {
    }

    &__img-inner {
        width: 100%;
    }

    &__slider {
        width:  88%;
        margin: 0 auto;
        outline: none;
        position: relative;
    }

    &__slider-inner {
        outline: none;
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            outline: none;
            font-size: 38px;
            color: #F2575D;
            cursor: pointer;
            display: block;
        }
        .pull-left {
            left: -60px;
        }
        .pull-right {
            right: -60px;
        }
        .slick-dots {
            position: absolute;
            bottom: -35px;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 50%;
            transform: translateX(-50%);
            button {
                display: none;
            }
            .slick-active {
                background-color: #F2575D;
            }
            li {
                height: 7px;
                width: 7px;
                background-color: #c4c4c4;
                margin: 0 5px;
                border-radius: 50%;
            }
        }
    }

    &__slider-item {
        outline: none;
    }
    &__slider-item__img {
        margin: 0 auto;
        width: 100%;
    }
}



// --------- about --------- 


.about {
    padding: 50px 0 70px;
    
    &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__img {
    }

    &__img-inner {
        width: 100%;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 20px;
    }
}



// --------- excellence --------- 



.excellence {
    padding: 50px 0 20px;

    &__title {
        text-align: center;
        margin-bottom: 80px;
    }

    &__item {
        display: flex;
        position: relative;
        left: 25px;
        justify-content: space-between;
        margin-bottom: 100px;
        max-width: 538px;
        height: 150px;
    }

    &__item-number {
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        color: #F2575D;
        margin-right: 40px;
        position: relative;
        padding-left: 10px;
        &::before {
            position: absolute;
            content: '';
            top: -11px;
            left: -11px;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border: 2px solid #F2575D;
        }
    }

    &__item-inner {
    }

    &__item-title {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 13px;
    }

    &__item-text {
    }
}



// --------- reviews --------- 



.reviews {
    padding-bottom: 80px;
    &-wrapper {
        margin-top: 50px;
    }

    &__title {
        text-align: center;
    }

    &__slider { 
        position: relative;
        outline: none;
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            outline: none;
            font-size: 38px;
            color: #F2575D;
            cursor: pointer;
        }
        .pull-left {
            left: -45px;
        }
        .pull-right {
            right: -45px;
        }
        .slick-dots {
            position: absolute;
            bottom: -35px;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 50%;
            transform: translateX(-50%);
            button {
                display: none;
            }
            .slick-active {
                background-color: #F2575D;
            }
            li {
                height: 7px;
                width: 7px;
                background-color: #c4c4c4;
                margin: 0 5px;
                border-radius: 50%;
            }
        }
    }

    &__slider-item {
        outline: none;
    }
    &__slider-inner {
        width: 350px;
        height: 200px;
        margin: 0 auto;
    }
}



// --------- request --------- 


.request {
    padding: 50px 0 100px;
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }    

    &__info {
        max-width: 500px;
    }

    &__info-title {
        font-weight: bold;
        font-size: 29px;
        line-height: 35px;
        max-width: 397px;
        margin-bottom: 27px;
    }

    &__info-text {
        font-size: 18px;
        line-height: 131.02%;
    }

    &__form {

    }

    &__form-inner {
        display: flex;
        flex-direction: column;
    }

    &__form-channel,
    &__form-email {
        margin-bottom: 55px;
        border: none;
        border-bottom: 1px solid #000;
        padding: 5px 10px;
        &::placeholder {
            color: #00C2FF;
        }
    }

    &__form-btn {
        color: #ffffff;
        padding: 25px 113px;
        border: 2px solid #1BB856;
        background: #1BB856;
        border-radius: 20px;
        transition: 0.2s all ease-out;
        &:hover {
            background-color: #fff;
            color: #1BB856;
        }
    }
}


// --------- footer --------- 


.footer {
    padding: 50px 0;
    background-color: #000000;
    &__text {
        color: #fff;
        text-align: center;
    }
}


// --------- media --------- 

@media(max-width: 1399px) {
    .header {
        &__btn {
            margin-left: 80px;
        }
    }
}

@media(max-width: 1199px) {
    .general-text {
        font-size: 18px;
        line-height: 130%;
    }
    .header {
        &__text {
            max-width: 350px;
            text-align: center;
        }
        &__btn {
            padding: 11px 70px;
        }
    }
    .message-row {
        align-items: center;
    }
    .reviews {
        &__slider-inner {
            width: 260px;
            height: 150px;
        }
    }
}

@media(max-width: 991px) {
    .general-title {
        font-size: 24px;
        line-height: 28px;
    }
    .general-text {
        font-size: 16px;
    }
    .header {
        padding: 50px 0;
        &__btn {
            margin-left: 0px;
        }
    }
    .main {
        &__title {
            font-size: 24px;
            line-height: 29px;
        }
        &__text {
            font-size: 19px;
            line-height: 24px;
        }
    }
    .advantages {
        &__item {
            height: 120px;
        }
    }
    .message {
        padding: 30px 0;
    }
    .consultation {
        padding: 30px 0;
        &__title {
            margin-bottom: 55px;
        }
    }
    .results {
        padding: 30px;
    }
    .about {
        padding: 30px 0;
    }
    .excellence {
        padding: 30px 0;
        &__item {
            left: 10px;
            margin-bottom: 75px;
        }
        &__item-title {
            font-size: 20px;
            line-height: 24px;
        }
    }
    .reviews {
        padding-bottom: 50px;
        &__slider-inner {
            width: 280px;
            height: 165px;
        }
    }
    .request {
        padding: 40px 0 70px;
    }
    .request {
        &__info-title {
            font-size: 25px;
            line-height: 32px;
        }
        &__info-text {
            font-size: 16px;
            line-height: 131.02%;
        }
        &__info {
            max-width: 325px;
        }
        &__form-btn {
            padding: 20px 60px;
        }
    }
    .footer {
        padding: 30px 0;
    }
}

@media(max-width: 767px) {
    .general-title {
        font-size: 20px;
        line-height: 24px;
    }
    .header {
        padding: 30px 0;
        &__text {
            max-width: 250px;
            text-align: center;
        }
        &__text-inner:first-child {
            display: none;
        }
        &__logo {
            max-width: 100px;
        }
        &__btn {
            margin-left: 15px;
            font-size: 14px;
            padding: 5px 25px;
        }
    }
    .main {
        padding: 30px 0;
        text-align: center;
        &__text {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 30px;
        }
        &__img-inner {
            width: 80%;
        }
    }
    .advantages {
        padding: 30px 0;
        &__item {
            margin-bottom: 30px;
            max-width: 395px;
        }
        &__item:last-child {
            margin-bottom: 30px;
        }
    }
    .message {
        &-row {
            .col-md-5 {
                order: -1;
            }
            .col-md-7 {
                width: 80%;
                margin: 0 auto;
            }
        }
        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-img__inner {
            width: 70%;
            margin: 0 auto;
        }
        &__title {
            margin-top: 50px;
        }
    }
    .consultation {
        &__item {
            margin-bottom: 40px;
        }
        &__item-img {
            width: 31%;
        }
        &__btn {
            padding: 15px 30px;
            font-size: 14px;
        }
    }
    .results {
        &__subtitle {
            margin-bottom: 35px;
            font-size: 16px;
            line-height: 22px;
        }
        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__img-inner {
            width: 80%;
        }
        &__slider {
            margin-top: 50px;
        }
    }
    .about {
        padding-top: 70px;
        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__img-inner {
            width: 80%;
        }
        &__title {
            margin-top: 40px;
        }
        &-row {
            .col-md-6:last-child {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
    .excellence {
        &__title {
            margin-bottom: 30px;
        }
        &__item {
            align-items: center;
            max-width: 450px;
            margin: 0 auto 20px;
        }
    }
    .reviews {
        &-wrapper {
            margin-top: 30px;
        }
        &__slider {
            width: 80%;
            margin: 0 auto;
            .pull-right {
                right: -40px;
            }
            .pull-left {
                left: -40px;
            }
        }
        &__slider-inner {
            width: 315px;
            height: 180px;
        }
    }
    .request {
        padding: 10px 0 50px;
        &-wrapper {
            flex-direction: column;
        }
        &__form {
            margin-top: 30px;
        }
        &__form-btn {
            padding: 15px 90px;
        }
    }
}

@media(max-width: 575px) {
    .general-title {
        font-size: 18px;
        line-height: 22px;
    }
    .general-text {
        font-size: 14px;
    }
    .header {
        padding: 20px 0;
        &-wrapper {
            flex-direction: column;
        }
        &__logo {
            max-width: 120px;
        }
        &__btn {
            font-size: 12px;
        }
        &__text-inner {
            font-size: 12px;
        }
    }
    .main {
        padding: 15px 0 25px;
        &__title {
            font-size: 18px;
            line-height: 23px;
        }
        &__text {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .advantages {
        &__item {
            margin-bottom: 20px;
            padding: 20px;
            width: 90%;
            height: unset;
            &:last-child {
                margin-bottom: 20px;
            }
        }
    }
    .message {
        padding-bottom: 15px;
    }
    .consultation {
        padding: 30px 0 15px;
        &__title {
            margin-bottom: 30px;
        }
        &-wrapper {
            width: 90%;
            margin: 0 auto;
        }
        &__item-img {
            width: 40%;
        }
        &__item-img:nth-child(1), 
        &__item-img:nth-child(3) {
            margin-right: 25px;
        }
        &__item-img:nth-child(2), 
        &__item-img:nth-child(4) {
            margin-left: 25px;
        }
        &__btn {
            padding: 12px 16px;
            font-size: 12px;
            margin-top: 20px;
        }
    }
    .results {
        padding: 15px 30px 30px;
        &__title {
            margin-bottom: 15px;
        }
        &__subtitle {
            margin-bottom: 25px;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .about {
        padding: 50px 0 15px;
    }
    .excellence {
        padding: 15px 0;
        &__item {
            width: 90%;
            height: unset;
        }
        &__item-title {
            font-size: 18px;
            line-height: 22px;
        }
        &__item-number {
            font-size: 18px;
            line-height: 18px;
            padding-left: 0;
        }
        &__item-number::before {
            height: 40px;
            width: 40px;
            top: -11px;
            left: -14px;
        }
    }
    .reviews {
        padding-bottom: 30px;
        &__slider {
            width: 75%;
            // .pull-right {
            //     right: -10px;
            // }
            // .pull-left {
            //     left: -10px;
            // }
        }
        &__slider-inner {
            width: 100%;
        }
    }
    .request {
        &__info-title {
            font-size: 18px;
            line-height: 24px;
        }
        &__info-text {
            font-size: 14px;
        }
    }
}

@media(max-width: 320px) {
    .consultation {
        &__btn {
            text-align: center;
            line-height: 14px;
        }
    }
    .request {
        &__form-btn {
            padding: 9px 65px;
        }
    }
}