html {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* ------------------- FIELD ------------------- */



.container {
    max-width: 600px;
    margin: auto;
    margin-top: 17vh;
}

.row {
    border-bottom: 1px solid #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row:last-child {
    border-bottom: none;
    border-top: 3px solid #000;
}

.col {
    border: 3px solid #000;    
    width: 33.3%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.row:first-child .col {
    border-top  : none;
}

.row .col {
    border-bottom: none;
    border-left: none;
}

.row:first-child {
    border-bottom: none;
}

.row:nth-child(2) {
    border-bottom: none;
}

.row .col:last-child {
    border-right: none;
}

.row:last-child .col {
    border-top: none;
}


/* ------------------- FIELD ------------------- */


/* ------------------- ICONS ------------------- */


.fas, .far {
    font-size: 150px;
}


/* ------------------- ICONS ------------------- */




/* ------------------- ADAPTIVE ------------------- */


@media(max-width: 576px) {
    .container {
        max-width: 75vw;
        margin-top: 30vh;
    }
    .col {
        height: 100px;
    }
    .fas, .far {
        font-size: 50px;
    }
}