html {
    background: #ABC8C7;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.main {
    margin-top: 10vh;
}


/* ------------------- PLAYERS ------------------- */


.players {
    margin: 0 auto 5vh;
    width: 600px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 28px;
}

.player {

}

.player-title {
    margin-bottom: 10px;
}

.player-info {
    display: flex;
    justify-content: space-between;
}

.player-score {

}

.refresh i {
    font-size: 24px;
    cursor: pointer;
}

.overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    color: #000;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
}


/* ------------------- FIELD ------------------- */


.container {
    max-width: 600px;
    margin: auto;
}

.row {
    border-bottom: 1px solid #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row:last-child {
    border-bottom: none;
    border-top: 3px solid #000;
}

.col {
    border: 3px solid #000;    
    width: 33.3%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.row:first-child .col {
    border-top  : none;
}

.row .col {
    border-bottom: none;
    border-left: none;
}

.row:first-child {
    border-bottom: none;
}

.row:nth-child(2) {
    border-bottom: none;
}

.row .col:last-child {
    border-right: none;
}

.row:last-child .col {
    border-top: none;
}


/* ------------------- FIELD ------------------- */


/* ------------------- ICONS ------------------- */


.fas, .far {
    font-size: 150px;
}


/* ------------------- ICONS ------------------- */




/* ------------------- ADAPTIVE ------------------- */


@media(max-width: 576px) {
    .main {
        margin-top: 15vh;
    }
    .players {
        max-width: 85vw;
        font-size: 22px;
    }
    .container {
        max-width: 85vw;
        margin-top: 12vh;
    }
    .col {
        height: 110px;
    }
    .fas, .far {
        font-size: 50px;
    }
    .refresh i {
        font-size: 20px;
    }
}