/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden; 
}

h1 {
    font-weight: 300;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.11em;
}

h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 36px;
    letter-spacing: -0.015em;
}

.hidden {
    overflow: hidden;
}


/* ----------------------- header ----------------------- */

.header {
    background-color: #4F4B53;

}

.container {

}

.header-wrapper {
    padding: 13px 0;
}

.header-logo {
    width: 256px;
    height: 34px;
}

.contact-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 30px;
}

.contact-item:last-child {
    margin-right: 0;
}

.contact-img {
    width: 26px;
    margin-right: 10px;
}

.contact-text {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #F7FCFF;
}

.contact-link:hover {
    text-decoration: none;
    color: #18A0FB;
}

.header-socials {

}

.socials-item {
    
}

.socials-item i {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.015em;
    color: #F7FCFF;
    margin-right: 27px;
}

.socials-item:last-child i {
    margin-right: 0px;
}


/* --------------- mobile menu --------------- */


.mobile-icon {
    z-index: 19;
    display: none;
    position: relative;
    height: 35px;
}

@media(max-width: 1200px){
    .mobile-icon{
        display: flex;
        height: 30px;
        /* margin-right: 15px; */
    }
    .modal-img {

    }
}

.mobile-line {
    position: relative;
    top: 12px;
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: all 0.3s ease-in;
}

.mobile-line::after {
    content: '';
    position: absolute;
    width: 30px;
    top: -10px;
    left: 0px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s ease-in 0.2s;
}

.mobile-line::before {
    content: '';
    position: absolute;
    width: 30px;
    top: 10px;
    left: 0px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s ease-in 0.2s;
}

.mobile-line.mobile-line-active{
    background-color: transparent;
    transition: all 0.1s ease-in;
}

.mobile-line.mobile-line-active::before{
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transition: top 0.2s ease-in, transform 0.2s ease-in 0.2s;
}

.mobile-line.mobile-line-active::after{
    top: 0;
    left: 0;
    transform: rotate(-45deg);
    transition: top 0.2s ease-in, transform 0.2s ease-in 0.2s;
}


.mobile-nav {
    z-index: 18;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: -100vw;
    background-color: #4F4B53;
    transition: transform 0.4s ease-in;
}

.mobile-nav.mobile-nav-active{
    transform: translateX(-100vw);
    transition: transform 0.4s ease-in;
}

.mobile-nav__logo {
    font-size: 36px;
    margin: 37px 37px 100px 37px;
    color: rgba(255, 196, 0, 0.89);
}

.mobile-nav__buttons {

}

.mobile-nav__list {
    list-style: none;

}

.mobile-nav__item {
    text-align: center;
    padding-bottom: 75px;
    font-size: 16px;
}

.mobile-nav__link {
    text-decoration: none;
    color: #fff;
}

.mobile-nav__link:hover {
    color: #fff;
    text-decoration: none;
}




/* ------------------- main ------------------ */


.main {
    background-image: url(../images/bg.jpg);
}

.container {

}

.main-wrapper {
    padding-top: 204px;
    padding-bottom: 154px;
}

.main-title h1:last-child {
    font-weight: normal;
}

.main-title h1 span {
    font-weight: 600
}

.main-title h1:last-child {
    margin-top: 100px;
}

.main-btn {
    margin-top: 75px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.2em;
    background-color: #4F4B53;
    border-radius: 14px;
    padding: 25px 10px;
    color: #fff;
    border: none;
    transition: 0.2s all ease-out;
}

.main-btn:focus {
    outline: none;
    box-shadow: none;
}

.main-btn:hover {
    background-color: #18A0FB;
    color: #fff;
}

.modal-dialog-main {
    max-width: 1210px;
    margin-top: 20vh;
}

.main-modal-content {
    border-radius: 38px;
    padding: 85px;
}

.modal-text {
    font-weight: bold;
    font-size: 70px;
    line-height: 98px;
    letter-spacing: -0.015em;
}

.modal-text span {
    color: #18A0FB;
}

.modal-footer-main {
    padding-top: 60px;
    border-top: none;
}

.modal-email-input {
    width: 450px;
    margin-right: 100px;
    font-size: 15px;
    line-height: 24px;
    padding: 17px 26px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}

.modal-email-input:focus {
    outline: none;
}

.modal-submit-input {
    background: #18A0FB;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 21px 43px;
    border: none;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.modal-submit-input:focus {
    outline: none;
}




/* ------------------- about ------------------ */



.about {
    padding-top: 50px;
    padding-bottom: 75px;
    background-color: #4F4B53;
}

.about-text {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.about-text:last-child {
    margin-bottom: 0;
}




/* ------------------- tech ------------------ */

.tech {
    
}

.prod-title {
    margin-top: 90px;
}

.prod-list {
    margin-top: 55px;
}

.item-title {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: -0.015em;
}

.item-wrapper {
    margin-top: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px; 
}

.item-img {
    height: 284px;
}

.item-info {
    max-width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: -0.07em;
    color: #000000;
}

.item-btn {
    font-weight: 300;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: -0.06em;
    text-decoration-line: underline;
    color: #000000;
    border: 1px solid #18A0FB;
    border-radius: 20px;
    width: 125px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transition: 0.2s all ease-out;
}

.item-btn:hover {
    background-color: #18A0FB;
    color: #fff;
}

/* ------------------- dev ------------------ */

.dev {
    margin-top: 60px;
    padding-bottom: 90px;
    background-color: #E7E7E7;
}

.dev-title {
    color: #807F7F;
    font-size: 48px;
    font-weight: normal;
    line-height: 72px;
    letter-spacing: -0.015em;
    padding-top: 30px;
}

.dev-row {
    margin-top: 60px;
}

/* ------------------- request ------------------ */


.request {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #CCCBCB;
}

.request-title {
    font-weight: 200;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: -0.015em;
    color: #000000;
}

.text-center {

}

.form {
    margin-top: 75px;
}

.request input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-bottom: 38px;
}

.request input:focus {
    outline: none;
}

.request input:last-child {
    margin-bottom: 0;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.form-field-short {
    padding: 18px 25px;
    width: 50%;
}

.form-label {
    position: relative;
    left: 40px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.form-label::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -40px;
    height: 25px;
    width: 25px;
    background-image: url(../images/paper-clip.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.form-field-long {
    padding: 18px 25px;
    width: 80%;
}

.form-filed-text {
    border-radius: 8px;
    width: 100%;
    height: 400px;
    padding: 20px;
}

.form-filed-text:focus {
    outline: none;
}

.file-row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-wrapper {

}

.fl_upld{
    display: flex;
    align-items: center;
}
#fl_inp{
    display:none;
}
.fl_upld label{
    cursor:pointer;
    background:#18A0FB;
    border-radius:3px;
    padding:10px 25px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    transition: 0.2s all ease-out;
}

.fl_upld label:hover{
    background:#8FA39D;
}

#fl_nm{
    color:#fff;
    text-align: left;
    margin-left: 20px;
}

.form-btn {
    padding: 17px 42px;
    border: none;
    background:#18A0FB;
    color: #fff;
    border-radius: 6px;
    transition: 0.2s all ease-out;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.form-btn:hover  {
    background:#8FA39D;
}

.form-btn:focus {
    outline: none;
}



/* ------------------- equip ------------------ */

.equip {
    background-color: #8FA39D;
    padding-top: 15px;
    padding-bottom: 80px;
}

.equip-title {
    font-size: 48px;
    font-weight: normal;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: #4D4C4C;
}

.equip-wrapper {
    margin-top: 20px;
}

.equip-mini_img-offset {
    margin-top: 35px;
}

.equip-large_img {

}



/* ------------------- footer ------------------ */


.footer {
    padding-top: 85px;
    padding-bottom: 180px;
    background-color: #6F7B6B;
}

.footer-logo {

}

.footer-title {
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

.footer-list {

}

.footer-item {
    margin-top: 15px;
}

.footer-item a, .footer-item p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #CBCFD4;
}

.footer i {
    color: #D7B399;
    font-size: 16px;
}

.footer a:hover {
    text-decoration: none;
    color: #4F4B53;
}



/* ------------------- copyright ------------------ */

.copyright p {
    padding: 10px 0;
    position: relative;
    margin-left: 4vw;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}


/* ------------------- prod-info ------------------ */

.prod-info {
    background: #fff;
    padding-bottom: 50px;
}

.prod-header {
    margin-top: 150px;
    font-size: 82px;
    line-height: 100px;
    text-align: right;
    color: #000;
    font-weight: 200;
}

.prod-header span {
    font-weight: normal;
}

.prod-btn {
    margin-top: 70px;
    background: #E5E5E5;
    border-radius: 14px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.025em;
    color: #333333;
    padding: 18px 45px;
    display: flex;
    margin-right: 30px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.2s all ease-out;
}

.prod-btn:hover {
    background-color: #18A0FB;
    color: #fff;
}



/* ------------------- data ------------------ */

.data {
    padding-top: 80px;
    padding-bottom: 200px;
    color: #000;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.data-row  {
    margin-top: 110px;
}

.data-title {
    font-family: 'Montserrat Alternates', sans-serif;
    border: 7px solid #000;
    padding: 75px 75px;
    font-size: 52px;
    line-height: 82px;
    letter-spacing: -0.015em;
    color: #000;
    margin-right: 30px;
}


.data-text {
    margin-left: 30px;
}

.data-text-dotted {
    margin-top: 15px;
    position: relative;
    margin-left: 60px;
    margin-right: 40px;
}

.data-text-dotted::before {
    content: "";
    position: absolute;
    background-color: #000;
    top: 4px;
    left: -60px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.data-title-dotted {
    margin-right: 0;
    margin-left: 30px;
}

.data-advantages {
    margin-top: 75px;
}

.data-advantages-title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 48px;
    line-height: 82px;
    letter-spacing: -0.015em;
    text-decoration: underline;
    color: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.advantages-item {
    margin-top: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #000;
}

.data-info {
    margin-top: 110px;
}

.data-info-title {
    margin-top: 50px;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.015em
}

.data-info-text {
    margin-top: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
}



/* ------------------- adaptive ------------------ */



@media (min-width: 1200px) {
    .container {
        max-width: 1464px;
    }
}

/* @media(max-width: 1600px) {
    .prod-header {
        font-size: 54px;
        line-height: 42px;
    }
} */

@media(max-width: 1366px) {
    .item-img {
        height: 160px;
    }
    .prod-header {
        font-size: 50px;
        line-height: 80px;
    }
    .data {
        font-size: 18px;
        line-height: 28px;
    }
    .data-title {
        font-size: 40px;
        line-height: 64px;
    }
}

@media(max-width: 1200px) {
    h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .main-wrapper {
        padding-top: 135px;
        padding-bottom: 65px;
    }
    .main-title h1:last-child {
        margin-top: 65px;
    }
    .about-text {
        font-size: 24px;
        line-height: 30px;
    }
    .item-title {
        font-size: 10px;
    }
    .equip-mini_img-offset {
        margin-top: 21px;
    }
    .header-contacts {
        display: none !important;
    }
    .header-socials {
        display: none !important;
    }
    .copyright p {
        margin-left: 0;
    }
    .data {
        font-size: 16px;
        line-height: 24px;
    }
    .data-title {
        padding: 25px;
        font-size: 34px;
        line-height: 56px;
    }
    .modal-dialog { 
        max-width: 80vw;
    }
    .main-modal-content {
        padding: 40px;
    }
    .modal-text {
        font-size: 60px;
        line-height: 84px;
    }
    .modal-email-input {
        width: 300px;
    }
}

@media(max-width: 992px) {
    .prod-list {
        margin-top: 0;
    }
    .prod-item {
        width: 90vw;
        margin: 0 auto;
        margin-top: 40px;
    }
    .item-title {
        font-size: 14px;
    }
    .equip-mini_img-offset {
        margin-top: 13px;
    }
    .prod-header {
        font-size: 36px;
        line-height: 44px;
    }
    .img-row img {
        width: 40vw;
    }
    .data-row {
        margin-top: 50px;
    }
    .data-row:first-child {
        margin-top: 0;
    }
    .data-title {
        margin-top: 30px;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .data-title-dotted {
        margin-left: 0;
    }
    .data-text {
        margin-left: 0;
    }
    .data-text-dotted {
        margin-right: 0px;
        margin-left: 60px;
    }
    .data-text-dotted::before {
        width: 15px;
        height: 15px;
    }
    .modal-email-input {
        width: 250px;
        margin-right: 50px;
    }
    .modal-text {
        font-size: 44px;
        line-height: 70px;
    }
}

@media(max-width:768px) {
    h2 {
        font-size: 36px;
    }
    .about-text {
        font-size: 18px;
        line-height: 24px;
    }
    .prod-title {
        margin-top: 60px;
    }
    .dev-title {
        font-size: 36px;
        line-height: 56px;
    }
    .dev-img__container {
        margin-top: 20px;
    }
    .request input {
        margin-bottom: 20px;
    }
    .form-field-short, 
    .form-field-long {
        width: 100%;
    }
    .form-filed-text {
        height: 210px;
    }
    .equip-mini_img-offset {
        margin-top: 13px;
    }
    .prod-header {
        font-size: 40px;
        line-height: 36px;
    }
    .prod-header {
        text-align: center;
    }
    .row-buy {
        justify-content: center !important;
    }
    .prod-btn {
        margin-right: 0;
    }
    .data {
        padding-top: 30px;
        padding-bottom: 75px;
    }
    .data-title {
        padding: 15px;
        font-size: 24px;
        line-height: 36px;
    }
    .modal-form {
        flex-direction: column;
        margin: 0 auto; 
    }
    .modal-text {
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 15px;
        text-align: center;
    }
    .modal-email-input {
        width: 300px;
        margin-right: 0;
    }
    .modal-submit-input {
        width: 300px;
        margin-top: 15px;
    }
    .modal-img {
        width: 300px;
        margin: 0 auto;
    }
} 

@media(max-width: 576px) {
    h1 {
        text-align: center;
        font-size: 28px;
        line-height: 36px;
    }
    .main-wrapper {
        padding-top: 75px;
        padding-bottom: 30px;
    }
    .main-btn-wrapper {
        display: flex;
        justify-content: center;
    }
    .main-btn {
        padding-left: 0;
        padding-right: 0;
        width: 70vw;
    }
    .about-text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
    }  
    .item-img {
        height: 200px;
    }
    .dev-row {
        margin-top: 30px;
        margin-right: 0;
        margin-left: 0;
    }
    .dev-title {
        font-size: 28px;
        line-height: 40px;
    }
    .form {
        margin-top: 30px;
    }
    .form-filed-text {
        margin-top: 20px;
    }
    .request-title {
        font-size: 36px;
        line-height: 48px;
    }
    .file-row {
        flex-direction: column;
    }
    .form-btn-wrapper {
        justify-content: start !important;
    }
    .form-btn {
        font-size: 14px;
        line-height: 16px;
        padding: 14px 36px;
        margin-top: 20px;
        justify-content: start;
    }
    .equip-title {
        font-size: 36px;
    }
    .row-offset {
        margin-top: 13px;
    }
    .footer {
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .footer-col {
        margin-top: 30px;
    }
    .copyright p {
        left: 0;
        text-align: center;
    }
    .prod-header {
        margin-top: 10px;
        font-size: 28px;
        line-height: 32px;
    }
    .prod-btn {
        margin-top: 30px;
    }
    .img-row {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .img-row img {
        width: 60vw;
    }
    .data-row {
        margin-top: 30px;
    } 
    .data-advantages {
        margin-top: 30px;
    }
    .data-advantages-title {
        font-size: 32px;
        line-height: 54px;
    }
    .advantages-item {
        font-size: 16px;
        line-height: 28px;
    }
    .data-info {
        margin-top: 0;
    }
    .data-info-title {
        margin-top: 35px;
        font-size: 26px;
        line-height: 30px;
    }
    .data-info-text {
        margin-top: 30px;
        font-size: 14px;
        line-height: 26px
    }
    .modal-dialog {
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-text {
        font-size: 28px;
        line-height: 40px;
    }
    .main-modal-content {
        padding: 20px;
    }
    .modal-dialog-main {
        margin-top: 5vh;
    }
    .modal-email-input,
    .modal-submit-input {
        width: 100%;
    }
}



@media (min-width: 992px) {
    .prod-list .offset-md-5 {
        margin-left: 37.666667%;
    }
    .prod-list .offset-md-1 {
        margin-left: 12.333333%;
    }
}
