* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 0;
}

.main-wrapper {
    display: flex;
}

.general-title {
    margin: 0 auto;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #777777;
}

.main-wrapper__left {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #777777;
    width: 50%;
    padding-bottom: 40px;
}


.input-label {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    color: #555555;
}

input {
    margin-top: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid #afafaf;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

input:in-range {
    padding: 0;
}

#hit-degree-range, 
#hit-count-range {
    position: absolute;
    width: 100.7%;
    left: -0.5%;
    bottom: -5px;
}

.hit-type {
    margin-top: 80px;
}

.hit-type__title {
    padding-bottom: 30px;
    border-bottom: 1px solid #777777;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}

.hit-type__list {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 30px;
}

.hit-type__btn {
    margin-bottom: 20px;
    padding: 13px;
    text-align-last: left;
    font-size: 17px;
    line-height: 20px;
    border: 1px solid #777777;
}

.hit-type__btn:focus {
    outline: none;
}

.btn-active {
    border: 3px solid #5686ad;
}

.main-wrapper__right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 40px;
}

.additionally-title {
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    margin-top: 30px;
    padding-left: 40px;
}

.additionally-list {
    margin-top: 20px;
    margin-left: 40px;
}

.additionally-item {
    margin-top: 30px;
}

.additionally-item:last-child {
    margin-bottom: 40px;
}

.additionally-item label {
    margin-left: 10px;
    font-size: 18px;
    line-height: 26px;
    color: #555555;
}

.price {
    border-top: 1px solid #777777;
    padding-left: 40px;
    padding-top: 40px;
    font-size: 28px;
    line-height: 32px;
    color: #333333;
}

#price-text {
    margin-top: 10px;
    color: #555555;
    font-size: 26px;
    line-height: 30px;
}

.artyom-img {
    max-width: 50%;
    margin: 70px auto 0;    
}

@media(max-width: 768px) {
    .main {
        padding: 20px;
        text-align: center;
    }
    .main-wrapper {
        flex-direction: column;
    }
    .main-wrapper__left {
        padding-bottom: 0;
    }
    .input-label {
        max-width: 100%;
    }
    .hit-type__list {
        max-width: 100%;
    }
    .main-wrapper__left {
        width: 100%;
        border-right: none;
    }
    .main-wrapper__right {
        width: 100%;
    }
    .additionally-title {
        padding-left: 0;
    }
    .additionally-list {
        margin-left: 0;
    }
    .hit-type {
        margin-top: 40px;
    }
    .hit-type__list {
        margin: 20px auto;
    }
    .price {
        padding-left: 0;
        margin: 0 auto;
    }
    .artyom-img {
        max-width: 80%;
    }
}