/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.block {
	display: block !important;
}

.hidden {
	overflow: hidden;
}

/* ------------------- bg-1 -------------------- */


.cover-bg {
	background-image: url(../images/bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
}


/* ------------------- header -------------------- */

.header {
	/* background-color: rgba(113, 202, 255, 0.42); */
}

.container {
	max-width: 1400px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-link {

}

.logo-img {
	width: 290px;
}

.nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-item {
	color: #3f3f3f;
	font-size: 14px;
	font-weight: 600;
	margin-right: 17px;
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: 2px solid transparent;
	transition: 0.2s all ease-out;
}

.nav-item:hover {
	text-decoration: none;
	color: inherit;
	border-bottom: 2px solid #006db7;
}

.nav-item:nth-child(5) {
	margin-right: 54px;
}

.nav-item:last-child {
	margin-right: 0;
}

.nav-tel {
	text-align: center;
}

.nav-tel__number {
	font-size: 21px;
}

.nav-tel__text {
	margin-top: 5px;
	letter-spacing: 0.8px;
}

/* <!-- ------------ MOBILE BUTTON ------------ --> */


.mobile-icon {
    z-index: 19;
    display: none;
    position: relative;
    height: 30px;
}

.mobile-line {
    position: relative;
    top: 12px;
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: all 0.3s ease-in;
}

.mobile-line::after {
    content: '';
    position: absolute;
    width: 30px;
    top: -10px;
    left: 0px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s ease-in 0.2s;
}

.mobile-line::before {
    content: '';
    position: absolute;
    width: 30px;
    top: 10px;
    left: 0px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s ease-in 0.2s;
}

.mobile-line.mobile-line-active{
    background-color: transparent;
	transition: all 0.1s ease-in;
	background-color: transparent;
}

.mobile-line.mobile-line-active::before{
    top: 0;
	left: 0;
	background-color: #14283d;
    transform: rotate(45deg);
    transition: top 0.2s ease-in, transform 0.2s ease-in 0.2s;
}

.mobile-line.mobile-line-active::after{
    top: 0;
	left: 0;
	background-color: #14283d;
    transform: rotate(-45deg);
    transition: top 0.2s ease-in, transform 0.2s ease-in 0.2s;
}

/* <!-- // ------------ MOBILE BUTTON ------------ --> */


.mobile-nav {
    position: fixed;
    height: 100vh;
    width: 100vw;
	top: 0;
	z-index: 10;
    right: -100vw;
    background-color: #fff;
    transition: transform 0.4s ease-in;
}

.mobile-nav.mobile-nav-active{
    transform: translateX(-300px);
    transition: transform 0.4s ease-in;
}

.mobile-nav__logo {
    font-size: 36px;
    margin: 37px 37px 0 37px;
    color: rgba(255, 196, 0, 0.89);
}

.mobile-nav__buttons {

}

.mobile-nav__list {
    list-style: none;
	margin-top: 75px;
}

.mobile-nav__item {
	padding-bottom: 13px;
	padding-top: 13px;
	font-size: 16px;
	padding-left: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.mobile-nav__item:first-child {
	border-top: 1px solid rgba(0, 0, 0, 0.089);
}

.mobile-nav__link {
    text-decoration: none;
    color: #14283d;
}

.overlay {
	position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.6);
	display: none;
	z-index: 9;
}

/* ------------------- order -------------------- */


.order {
	/* background-color: rgba(113, 202, 255, 0.42); */
}

.order .row {
	padding-top: 190px;
}

.order-col:first-child {
	padding-bottom: 240px;
}

.order-title {
	color: #f5f5f5;
	font-size: 53px;
	font-weight: 700;
}

.order-line {
	margin-top: 45px;
	border-bottom: 7px solid #006db7;
	width: 200px;
}

.order-text {
	margin-top: 30px;
	color: #f5f5f5;
	font-size: 19px;
	width: 510px;
}

.order-col:last-child {
	position: relative;
}

.order-form {
	position: absolute;
	left: 80px;
	top: 0;
}

.order-subtitle {
	color: rgba(68, 68, 68, 0.08);;
	font-size: 72px;
	font-weight: 700;
}

.order-subtext {
	position: relative;
	top: -17px;
	color: #444444;
	font-size: 22px;
	font-weight: 700;
}

/* ------------------- about -------------------- */


.about {
	padding: 80px 0;
	background-image: url(../images/truck-bg.png);
	background-repeat: no-repeat;
	background-position: right 180px;
}

.about-title {
	color: #00000094;
	font-size: 23px;
	font-weight: 700;
	text-align: center;

}

.about .col-xl-4:nth-child(4),
.about .col-xl-4:nth-child(5),
.about .col-xl-4:last-child {
	margin-top: 40px;
}

.about .order-line {
	margin-top: 20px;
	margin-bottom: 35px;
}

.about .row:last-child {
	margin-top: 44px;
}

.about-item {
	background-color: rgba(255, 255, 255, 0.85);;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	box-shadow: 0 2px 14px rgba(219, 219, 219, 0.5);
}

.about-item__img-wrapper {
	/* display: flex;
	justify-content: center; */
	/* margin-right: 50px; */
	/* width: 175px; */
	/* width: 35%; */
}

.about-item__img {
	margin: 0 auto; 
	height: 165px;
	width: 165px;
}

.about-item__inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 170px;
}

.item__inner-title {
	max-width: 185px;
	margin: 0 auto;
	color: #000000a1;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.item__inner-text {
	max-width: 200px;
	color: #979797;
	font-size: 14px;
	line-height: 18px;
}



/* ------------------- carpark -------------------- */


.carpark {
	padding: 80px 0;
	overflow-x: hidden;
}

.carpark-title {
	color: #181818;
	font-size: 23px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 55px;
}

.carpark-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.carpark-row .col-sm-6:first-child {
	display: flex;
	justify-content: flex-end;
}

/* .carpark-row .col-sm-6:last-child {
	display: flex;
	justify-content: center;
} */

.carpark-item {
	width: 540px;
}

.carpark-item__title {
	color: #181818;
	font-size: 23px;
	font-weight: 700;
	text-align: center;
	line-height: 28px;
}

.carpark-item__title:nth-child(2) {
	margin-bottom: 40px;
}

.carpark-item__title span {
	color: #006db7;
}


.carpark-item__text {
	color: #181818;
	font-size: 20px;
	line-height: 26px;
}

.carpark-item__btn-row {
	margin-top: 40px;
}

.carpark-item__btn {
	font-size: 20px;
	background-color: #006db7;
	padding: 28px 45px;
	color: #fff;
}

/* .carpark-img {
	width: 530px;
} */

.carpark-line-col {
	margin: 100px auto;
}

.carpark-line {
	border-bottom: 7px solid #006db7;
	width: 660px;
}



/* ------------------- wheel -------------------- */



.wheel {
	overflow: hidden;
	padding: 350px;
	background-color: #a4ddff;
	position: relative;
}

.wheel-bg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.5s ease;
	animation: rotateBg 25s linear infinite;
}

@keyframes rotateBg {
    0% {
        transform:translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform:translate(-50%, -50%) rotate(360deg);
    }
}


.wheel .container {
	display: flex;
	justify-content: center;
	z-index: 3;
}

.wheel-img {
	position: relative;
	/* background-image: url(../images/wheel.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; */
	z-index: 1;
	height: 340px;
	width: 340px;

}

.wheel-item__bg {
	position: relative;
	height: 340px;
	width: 340px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.wheel-item__bg-anim {
	top: 3%;
	/* left: 3%; */
	/* transform: translate(-50%, -50%); */
	position: absolute;
	/* background-image: url(../images/wheel.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; */
	z-index: 2;
	/* height: 340px;
	width: 340px; */
	transition: all 0.5s ease;
	animation: rotate 10s linear infinite;
}

.wheel-item__bg-anim:hover {
	transform: scale(1.2);
}

@keyframes rotate {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.wheel-item {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wheel-item:nth-child(1) {
	right: 150px;
	transform: translateX(-100%);
}

.wheel-item:nth-child(2) {
	bottom: 160px;
	left: 13px;
	transform: translateY(-100%);
}

.wheel-item:nth-child(3) {
	left: 150px;
	transform: translateX(100%);
}

.wheel-item:nth-child(4) {
	top: 150px;
	left: 250px;
	transform: translateY(100%);
}

.wheel-item:nth-child(5) {
	top: 118px;
	right: 250px;
	transform: translateY(100%);
}

.wheel-item__img {
	width: 90px;
	transition: 0.3s all ease-out;
}

.wheel-item__img:hover {
	transform: scale(1.2);
}

.wheel-item__text {
	margin-top: 30px;
	width: 308px;
	color: #292929;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}





/* ------------------- map -------------------- */



.map {
	position: relative;
	height: 800px;
}

.map iframe {
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
}

.map .container {
	position: relative;
}

.map__form-wrapper {
	position: absolute;
	right: 0;
	top: 165px;
	z-index: 1;
	border: 7px solid #006db7;
	background-color: #fbfbfb;
	padding: 40px 65px;
}

.map__form-title {
	color: #0a0a0a;
	font-size: 24px;
	font-weight: 700;
	width: 395px;
	text-align: center;
}


/* ------------------- footer -------------------- */



.footer {
	background-color: #202020;
	padding: 25px 0;
}

.footer-logo {

}

.footer-logo__img {

}

.footer-text {
	color: #ffffff;
	font-size: 14px;
	width: 410px;
	margin-top: 10px;
	line-height: 18px;
}

.footer-copyright {
	color: #ffffff;
	font-size: 14px;
	margin-top: 10px;
}

.footer-items-col {
	margin-top: 60px;
}

.footer-item {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.footer-item:first-child {
	margin-top: 0;
}

.footer-item .footer-text {
	margin-top: 0;
}

.footer-item__icon {
	width: 30px;
	display: flex;
	justify-content: center;
	margin-right: 22px;
}

.footer-item i {
	color: #fff;
	font-size: 24px;
}

.footer-item:hover {
	text-decoration: none;
}





/* ------------------- adaptive -------------------- */


@media(max-width: 1440px) {

}

@media(max-width: 1366px) {
	.about-item__img {
		height: 140px;
		width: 140px;
	}
}

@media(max-width: 1280px) {
	.order-form {
		left: 100px;
	}
	.about-item__img {
		height: 120px;
		width: 120px;
	}
}

@media(max-width:1200px) {
	.nav-list {
		display: none;
	}
	.mobile-icon{
        display: flex;
        height: 30px;
        margin-right: 10px;
	}
	.order .row {
		padding-top: 100px;
	}
	.order-col:first-child {
		padding-bottom: 185px;
	}
	.order-title {
		font-size: 40px;
	}
	.order-subtitle {
		font-size: 46px;
	}
	.about .col-xl-4:nth-child(3) {
		margin-top: 40px;
	}
	.about-item__inner {
		height: 140px;
	}
	.item__inner-text {
		max-width: 265px;
		margin: 0 auto;
	}
	.map__form-wrapper {
		padding: 25px 30px;
		right: 10px;
	}
	.map__form-title {
		width: 330px;
		font-size: 22px;
	}
	.wheel-item__img {
		width: 70px;
	}
	.wheel-item__text {
		margin-top: 15px;
		width: 285px;
		font-size: 20px;
		line-height: 26px;
	}
	.wheel-item__bg-anim,
	.wheel-img, 
	.wheel-item__bg {
		width: 280px;
		height: 280px;
	}
	.wheel-item:nth-child(1) {
		right: 10px;
	}
	.wheel-item:nth-child(2) {
		bottom: 140px;
		right: 0px;
	}
	.wheel-item:nth-child(3) {
		left: 10px;
	}
	.wheel-item:nth-child(4) {
		top: 80px;
	}
	.wheel-item:nth-child(5) {
		top: 48px;
		right: 230px;
	}
}

@media(max-width: 992px) {
	.footer-text {
		width: auto;
	} 
	.wheel-bg {
		display: none;
	}
	.wheel {
		padding: 40px 0;
	}
	.wheel-item {
		margin-bottom: 40px;
		flex-direction: row;
	}
	.wheel-item__img {
		margin-right: 20px;
	}
	.wheel-item__bg-anim {
		display: none;
	}
	.wheel-item {
		position: static;
	}
	.wheel-item__bg-anim {
		display: none;
	}
	.wheel-img,
	.wheel-item__bg {
		width: auto;
		height: auto;
	}
	.wheel-item:nth-child(1) {
		transform: unset;
	}
	.wheel-item:nth-child(2) {
		transform: unset;
	}
	.wheel-item:nth-child(3) {
		transform: unset;
	}
	.wheel-item:nth-child(4) {
		transform: unset;
	}
	.wheel-item:nth-child(5) {
		transform: unset;
	}
	.wheel-item__bg-anim {
		position: static;
		transform: unset;
	}
	.wheel-item__bg {
		position: static;
		top: 0;
		left: 0;
		transform: unset;
	}
}

@media(max-width: 768px) {
	.cover-bg {
		background-image: url(../images/bg2.png);
	}
	.order-form {
		position: static;
		left: 0;
	}
	.order-subtitle {
		font-size: 38px;
		color: #f5f5f536;
	}
	.order-subtext {
		color: #f5f5f5;
	}
	.about {
		background-position: bottom;
		background-size: contain;
	}
	.about-item {
		width: 75%;
		margin: 0 auto;
	}
	.about .col-xl-4:nth-child(2) {
		margin-top: 40px;
	}
	/* .about-item__img-wrapper {
		width: 175px;
	} */
	.carpark-line-col {
		width: 80%;
	}
	.carpark-title {
		margin-bottom: 35px;
		font-size: 30px;
	}
	.carpark-item {
		width: 95%;
		margin: 0 auto;
	}
	.carpark-item__title {
		font-size: 20px;
		line-height: 26px;
	}
	.carpark-item__title:nth-child(2) {
		margin-bottom: 25px;
	}
	.carpark-item__text {
		font-size: 18px;
		line-height: 24px;
	}
	.carpark-line {
		width: 100%;
	}
	.map__form-wrapper {
		right: 50%;
		transform: translateX(50%);
		top: 75px;
	}
}

@media(max-width:678px) {
	.about-item__img-wrapper {
		/* margin-right: 20px; */
	}
}

@media(max-width: 576px) {
	.about, 
	.carpark {
		padding: 40px 0;
	}
	.cover-bg {
		background-position: right;
	}
	.logo-img {
		width: 60vw;
	}
	.order-col:first-child {
		padding-bottom: 70px;
	}
	.order-form {
		position: static;
	}
	.order-text {
		width: auto;
	}
	.about-item {
		width: 95%;
		margin: 0 auto;
	}
	.about-item__img {
		height: 100px;
		width: 100px;
	}
	.item__inner-text {
		max-width: 155px;
	}
	.about-item__inner {
		height: 190px;
	}
	.item__inner-title {
		max-width: 135px;
		font-size: 16px;
	}
	.carpark-item {
		margin-top: 20px;
	}
	.carpark-item__text {
		font-size: 16px;
	}
	.carpark-img {
		width: 75% !important;
		display: flex;
		margin: 0 auto;
	}
	.carpark-line-col {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.carpark-item__btn {
		font-size: 14px;
		padding: 20px 30px;
	}
	.carpark-line {
		border-bottom: 2px solid #006db7;
	}
	.wheel-item__bg {
		width: 90%;
		margin: 0 auto;
	}
	.wheel-item__text {
		width: unset;
		font-size: 18px;
	}
	.map {
		height: 100vh;
	}
	.map__form-wrapper {
		top: 50px;
		padding: 15px 20px;
	}
	.map__form-title {
		width: 280px;
	}
	.footer-items-col {
		margin-top: 30px;
	}
}

@media(max-width: 320px) {
	.order-subtitle {
		font-size: 32px;
	}
	.map__form-title {
		width: 245px;
		font-size: 20px;
	}
	.item__inner-text {
		font-size: 13px;
		line-height: 16px;
	}
	.about-item__img {
		height: 90px;
		width: 90px;
	}
	.item__inner-text {
		max-width: 130px;
	}

}


.steps {
	margin: 90px 0;
}

.steps-row {
	display: flex;
	justify-content: space-between;
}

.steps-row-2 {
	margin-top: 50px;
	justify-content: space-evenly;
}

.steps-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 190px;
}

.steps-title {
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: 10px;
}

.steps-title span {
	color: #DF1618;
}

.steps-text {
	font-size: 16px;
    line-height: 28px;
}

.steps-item i {
	font-size: 22px;
	color: #fff;
	margin-bottom: 50px;
}

.steps-item i::before {
	padding: 1.25em;
	border-radius: 50%;
	background-color: #DF1618;
}

.steps-arrow {
	max-width: 240px;
}

.steps-arrow__angle {
	position: relative;
	bottom: 50px;
	max-width: 165px;
}

@media(max-width: 1200px) {
	.steps-arrow {
		max-width: 150px;
	}
	.steps-arrow__angle {
		max-width: 105px;
		bottom: 30px;
	}
}

@media(max-width: 900px) {
	.steps-arrow {
		max-width: 115px;
	}
	.steps-arrow__angle {
		max-width: 80px;
		bottom: 30px;
	}
}

@media(max-width: 768px) {
	.steps {
		margin-top: 0;
	}
	.steps-row {
		flex-direction: column;
		align-items: center;
	}
	.steps-row-2 {
		flex-direction: column-reverse;
	}
	.steps-item {
		margin-top: 115px;
	}
	.steps-row-2 {
		margin-top: 0;
	}
	.steps-row-2 .steps-item:last-child {
		margin-top: 0;
	}
	.steps-item i {
		font-size: 48px;
		margin-bottom: 80px;
	}
	.steps-arrow  {
		display: none;
	}
	.steps-arrow__angle {
		display: none;
	}
}

@media(max-width: 576px) {
	.steps-item {
		margin-top: 80px;
	}
	.steps-item i {
		margin-bottom: 55px;
		font-size: 30px;
	}
}


.img-map {
	padding: 90px 5vw;
}

.img-map__title {
	font-weight: 600;
	font-size: 23px;
	line-height: 27px;
	text-align: center;
	color: #4A4A4A;
	text-transform: uppercase;
	margin-bottom: 40px;
}

@media(max-width: 992px) {
	.img-map {
		padding: 65px 5vw;
	}
}

@media(max-width: 576px) {
	.img-map {
		padding: 40px 5vw;
	}
}